body {
  background-color: #e3e2e2;
}

.topNav {
  background-color: #14558f;
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #0e416d;
}

.topNav a {
  color: #f2f2f2;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topNav a:hover {
  background-color: #ddd;
  color: black;
}

h1 {
  color: white;
  text-align: left center;
  

  padding: 0px;
  background-color: #14558f;

  font-family: verdana;
  font-size: 25px;

}

p {
  font-family: verdana;
  font-size: 20px;
}

.navButtons {
  position: relative;
  float: right;
}


.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #14558f;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #0e416d;
}