body {
    background-color: #e3e2e2;
  }
  
  h1 {
    color: white;
    text-align: left center;
  
    padding: 10px;
    background-color: #14558f;
  
    font-family: verdana;
    font-size: 25px;
  
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  header {
    background-color:#6e8f6e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-style: outset;
    border-width: 5px;
    cursor: pointer;
    width: 20%
  }
  
  